@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    text-align: center;
  }
  a:link,
  a:visited {
    color: var(--accent-color);
  }
header, footer {
    background-color: var(--primary-color);
    color: white;
    font-family: 'Mooli';
}
nav{
    display: grid;
}
nav a{
    color: white;
    display: none;
}
nav.menu:not(.hide) a{
    display: block;
}
img{
    width: 100%;
    max-width: 250px;
    border: 10px white solid;
    box-shadow: 5px black;
    object-fit: cover;
}
main{
    background-color: var(--text-light);
}
figure{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.menu-button{
    display: block;
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 0;
    font-size: 1.2rem;
    margin: 1rem auto;
    font-family: 'Mooli';

}
.hide {
    display: none; /*When an element has a class of hide, it hides it entirely, and the inverse happens with show*/
}
.show{
    display: grid;
}
#modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .6);
    position: relative;
}
#modal-img{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    display: block;

}
#close-viewer{
    background: var(--primary-color);
    color: white;
    position: absolute;
    top: 1vh;
    right: 1vh;
    z-index: 10;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;

}

@media screen and (min-width: 700px) {
    figure{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 50px;
    }
    nav{
        display: grid;
        grid-template-columns: 1fr;
    }
    nav.show{
        display: grid;
    }
    .menu-button{
        display: block;
        margin: 1rem auto;
    
    }
    nav a{
        display: block;
    
    }
    
    
}

@media screen and (min-width: 1000px) {
    figure{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    } 
    header{
        display: flex;
        flex-direction: column;
        padding: 1rem;   
}  
nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 1rem;
} 
nav a{
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}
.menu-button{
    display: none;
}
    
}
