@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Faculty+Glyphic&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
 --border-color: #EFC69B;
 --primary-color: #AF1B3F;
 --secondary-color: #473144;
 --primary-font: Arial, Helvetica,sans-serif;
 --headline-font: Lora, Impact, serif ;
 }
 
nav ul {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    margin: 0;
    list-style: none;
}

nav li {
    text-align: center;
    
}
nav li a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    padding: 20px;
}
 #header-title{
    color: var(--secondary-color);
    font-family: var(--headline-font);
    text-align: center;
 }


 nav, div, section{
    border: 2px solid var(--border-color);

    margin: 1rem;
 }
 #main-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1rem;
    object-fit: cover;
    margin-top: 5rem;
    margin-bottom: 5rem;
 }
 #main-container > div {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
 }
 #book-description, #book-display, #filters {
    width: 100%;
    height: 100%;
    
 }
 .bk-desc{
    text-align: center;
    color: var(--primary-color);
    font-family: var(--primary-font);
 }
 #date{
    text-align: center;
    font-family: var(--headline-font);
    font-size: 24px;

 }
 #book-description{
    margin-left: 2px;
    margin-right: 5px;
 }